.grid {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 55px);
  gap: 16px;
  justify-content: center;

  @include onDesktop {
    grid-template: repeat(1, 1fr) / repeat(12, 65px);
    gap: 31px;
  }

  @include onTV {
    grid-template: repeat(1, 1fr) / repeat(12, 104px);
    gap: 32px;
  }

  &--tablet {
    display: block;

    @include onDesktop  {
      display: grid;
    }
  }

  &--desktop {
    display: block;

    @include onTV {
      display: grid;
    }
  }

  &__item--phone {
    @for $start from 1 through 4 {
      @for $end from $start through 4 {
        &-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }

  &__item--tablet {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }

  &__item--desktop {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &-#{$start}-#{$end} {
          @include onTV {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
